@charset "UTF-8";
.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}

.container-wrapper {
    background-image: url("../img/computer-820281_1920.jpg");
    /* background-size: cover; */
    background-position: bottom;
    height: 100%;
    width: 100%;
    /* box-sizing: border-box; */
}

.container-wrap {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
}

form input {
    /* padding: 5px 100px; */
    width: 80%;
    height: 30px;
    padding-left: 5px;
}

.container h1 {
    font-size: 60px;
    padding-top: 10%;
    /* font-family: cursive; */
}

.message {
    margin-top: 70px;
}

.message p {
    font-size: 25px;
    line-height: 30px;
}

main {
    text-align: start;
    margin-top: 60px;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-box,
.right-box {
    height: 30%;
    width: 50%;
    font-weight: bold;
    font-size: 15px;
}

.left-box input {
    margin-top: 10px;
}

.right-box textarea {
    /* width: 60%; */
    margin-top: 10px;
    /* padding: 80px 200px; */
    width: 90%;
    height: 110px;
    padding-top: 5px;
    padding-left: 5px;
}

.email {
    margin-top: 20px;
}

.btn-square-shadow {
    display: inline-block;
    padding: 0.5em 5em;
    font-size: 25px;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 10px;
    cursor: pointer;
}

.btn-square-shadow:hover {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    /*影を小さく*/
    border-bottom: none;
}