// webサイトの設定として使いたいファイル
@charset "UTF-8";
// 色の設定-------------------------------------
$base-color: #fff;
$main-color: #ddd;
$accent-color: #f00;
// フォントの設定-------------------------------
// ブレイクポイントの設定-----------------------
$breakpoints: ( sp: "only screen and (max-width: 890px)", tab: "only screen and (max-width: 900px)", pc: "only screen and (max-width: 1152px)", iphone8: "only screen and (max-width: 375px)", iphone5: "only screen and (max-width: 350px)");