* {
    text-decoration: none;
}

.container-wrapper {
    background-image: url("../img/notebook-1280538_1920.jpg");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
}