* {
    text-decoration: none;
}

.container-wrapper {
    background-image:url("../img/computer-820281_1920.jpg");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
}