@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.index .fluid {
  width: 680px;
  height: 680px;
  background: #42ac42; }

.index .rotate {
  -webkit-animation: rotate 30s ease 0s infinite normal both;
          animation: rotate 30s ease 0s infinite normal both; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.index .stretch {
  width: 680px;
  height: 680px;
  -webkit-animation: stretch 1s ease 0s infinite alternate both;
          animation: stretch 1s ease 0s infinite alternate both; }

@-webkit-keyframes stretch {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9); } }

@keyframes stretch {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9); } }

.index .opacity {
  background: rgba(66, 172, 66, 0.75); }

.index .fluid-box2 .rotate {
  -webkit-animation: rotate 10s ease 0s infinite normal both;
          animation: rotate 10s ease 0s infinite normal both; }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.index .fluid-box2 .strech {
  width: 680px;
  height: 680px;
  -webkit-animation: stretch 4s ease 3s infinite alternate both;
          animation: stretch 4s ease 3s infinite alternate both; }

@keyframes stretch {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9); } }

.index .fluid-box2 .fluid {
  width: 680px;
  height: 680px;
  background: #429cac; }

.index .fluid-box3 .rotate {
  -webkit-animation: rotate 40s ease 10s infinite normal both;
          animation: rotate 40s ease 10s infinite normal both; }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.index .fluid-box3 .strech {
  width: 680px;
  height: 680px;
  -webkit-animation: stretch 8s ease 5s infinite alternate both;
          animation: stretch 8s ease 5s infinite alternate both; }

@keyframes stretch {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9); } }

.index .fluid-box3 .fluid {
  width: 680px;
  height: 680px;
  background: #ac4242; }

#about {
  /* サイトを始めて開く時 */
  /* サイトを始めて開く時終了 */
  /* プロフィール画面 */
  /* プロフィールここまで */ }

#about * {
  text-decoration: none;
  font-weight: 900; }

#about .start {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  height: 100%;
  width: 100%; }

#about .start textarea {
  /* background-color: red; */
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  font-family: cursive;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 50%;
  border: none;
  resize: none; }

#about .container-wrapper1 {
  background-image: url("../img/computer-820281_1920.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  box-sizing: border-box; }

#about .container {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden; }

#about .container-wrapper1 h2 {
  font-size: 40px;
  margin: 30px 60px;
  margin-bottom: 10px; }

#about .container-wrapper1 main {
  display: -webkit-box;
  display: flex;
  /* flex-direction: row-reverse; */
  width: 80%;
  margin: 0 auto;
  position: relative; }

#about .left-text {
  font-size: 20px;
  line-height: 20px;
  width: 50%;
  height: 70vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around; }

#about .left-text p {
  font-size: 15px;
  width: 80%;
  margin-bottom: 60px;
  line-height: 30px; }

#about .img-box {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  width: 80%;
  /* margin-bottom: 150px; */ }

#about .left-text img {
  /* display: block; */
  border-radius: 100%;
  width: 50%;
  height: 100%; }

#about .icon-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-size: 40px;
  color: gray;
  margin-top: 10px; }

#about .icon-box a {
  width: 0; }

#about .icon-box i {
  margin-right: 25px;
  margin-top: 20px; }

#about .icon-box p {
  color: gray;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 900; }

#about .icon-box i {
  color: gray; }

#about .icon-box i:hover {
  color: black; }

#about .icon-box p:hover {
  color: black; }

#about .right-text {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start; }

#about .right-text h3 {
  font-size: 25px;
  margin-bottom: 10px; }

#about .right-text dl {
  font-size: 20px; }

#about .right-text dt {
  margin-top: 40px;
  font-weight: bold;
  float: left; }

#about .right-text dd {
  margin-top: 40px;
  margin-left: 200px; }

#about .right-text dd:last-child {
  line-height: 30px;
  font-size: 15px; }

#about #circle1 {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  top: 70%;
  left: -30%; }

#about #circle2 {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  left: 100%;
  top: -20%; }

.index section, .index section div {
  /* See it in slo-mo, you can change this */
  -webkit-transition-duration: .6s;
          transition-duration: .6s; }

.index section, .index .button {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }

.index section {
  display: inline-block;
  position: relative;
  padding: .375rem .375rem 0;
  height: 2.5rem;
  background: #A9ADB6;
  border-radius: .25rem;
  -webkit-perspective: 300;
          perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25rem 1rem rgba(0, 0, 0, 0.1); }

.index .button {
  opacity: 0; }

.index .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100; }

.index .innie, .index .outie, .index .spine, .index .shadow {
  position: absolute;
  width: 100%; }

.index .innie, .index .outie {
  height: 100%;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
  border-radius: .25rem; }

.index svg {
  width: 40px;
  height: 40px;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25)); }

.index .innie {
  background-color: #005700;
  text-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); }

.index .spine {
  top: .25rem;
  background-color: #005700;
  height: .15rem;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: center top;
          transform-origin: center top; }

.index .shadow {
  top: 100%;
  left: 0;
  height: 3.5rem;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  opacity: 0;
  z-index: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  border-radius: .4rem; }

.index .outie {
  background-color: #005700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.index section:hover {
  background: #EBEFF2; }

.index section:hover .button {
  opacity: 1; }

.index section:hover .cover, .index section:hover .innie, .index section:hover .spine, .index section:hover .outie, .index section:hover .spine {
  -webkit-transition-timing-function: cubic-bezier(0.2, 0.6, 0.1, 1.9);
          transition-timing-function: cubic-bezier(0.2, 0.6, 0.1, 1.9); }

.index section:hover .cover {
  -webkit-transform: rotateX(-95deg);
          transform: rotateX(-95deg); }

.index section:hover .innie {
  background-color: #005700; }

.index section:hover .spine {
  background-color: #005700; }

.index section:hover .outie {
  background-color: #005700;
  color: rgba(255, 255, 255, 0); }

.index section:hover .shadow {
  opacity: 1;
  -webkit-transform: rotateX(45deg) scale(0.95);
          transform: rotateX(45deg) scale(0.95); }

.index small {
  font: .8rem/1 sans-serif;
  padding-top: 4rem;
  color: #777; }

.index small a {
  color: #222;
  text-decoration: none;
  border-bottom: thin solid #ccc; }

.index small a:hover {
  border-bottom-color: #222; }

.index * {
  text-decoration: none; }

.index .container-wrapper {
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

.index .container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); }

* {
  text-decoration: none; }

header {
  font-weight: 900;
  height: 120px;
  width: 100%;
  background-color: white;
  /* position: absolute; */
  font-family: cursive;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

header h1 {
  font-size: 50px;
  font-family: cursive;
  font-weight: 800; }

header .header-left {
  margin-left: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }

header a {
  color: black; }

header nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }

header nav a {
  margin: 0 30px;
  font-size: 30px; }

.menu {
  width: 36px;
  height: 28px;
  position: relative;
  top: 48px;
  left: -5%;
  display: none; }

/* メニューバーの動作 */
.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  top: 500px;
  right: 30px;
  z-index: 100; }

.menu-trigger span {
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 5px; }

@media only screen and (max-width: 890px) {
  .menu-trigger span {
    display: inline-block; } }

.menu-trigger.black span {
  background-color: black; }

.menu-trigger.active span {
  background-color: black; }

.menu-trigger span:nth-of-type(1) {
  top: 0; }

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
  opacity: 1; }

.menu-trigger span:nth-of-type(2) {
  top: 12px; }

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0; }

.menu-trigger span:nth-of-type(3) {
  bottom: 0; }

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
  opacity: 1; }

.berger-menu {
  display: none; }

.berger-menu ul {
  width: 50%;
  margin: 0 auto;
  text-align: center; }

.berger-menu ul li {
  margin-top: 70px;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer; }

.berger-menu ul li:first-child {
  margin-top: 0;
  padding-top: 20px; }

.berger-menu ul li:hover {
  color: gray; }

@media only screen and (max-width: 890px) {
  header .header-left {
    margin-left: 50px; }
  header h1 {
    font-size: 40px; }
  header nav {
    display: none; }
  .menu {
    display: block; }
  .berger-menu {
    display: block;
    width: 100%;
    height: 360px;
    background-color: whitesmoke; } }

@media only screen and (max-width: 365px) {
  header .header-left {
    margin-left: 20px; }
  header h1 {
    font-size: 30px; } }

/* サイトを開いた時の処理 */
.index {
  /* サイトを開いた時の処理終了 */
  /* ボタンの挙動 */
  /* ボタンの挙動終了 */ }

.index .start {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  height: 100%;
  width: 100%; }

.index .start h1 {
  /* background-color: red; */
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  font-family: cursive;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 100%; }

.index main {
  height: 80%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }

.index main h1 {
  font-size: 60px; }

.index .fluid-box {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute; }

.index .fluid-box2 {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  top: 78%;
  left: 50%; }

.index .fluid-box3 {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  top: -70%;
  left: 50%; }

.index .text-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
  justify-content: space-around;
  /* position: relative; */
  /* top: -10px; */
  width: 50%;
  height: 100%;
  z-index: 100; }

.index section {
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  margin-bottom: 40px;
  color: black;
  font-family: cursive;
  background-color: white;
  width: 40%;
  height: 140px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 5%; }

.index #message {
  margin: 0 auto;
  width: 75%;
  font-size: 17px;
  font-weight: bold;
  line-height: 40px;
  background-color: rgba(253, 253, 253, 0.5);
  border-radius: 40%;
  padding: 80px 0; }

.index #message a {
  color: green; }

.index .img-box {
  position: relative;
  width: 40%;
  left: 10%;
  height: 100%; }

.index #izena {
  width: 45%;
  position: absolute;
  left: 20%;
  top: 100px;
  display: none;
  border-radius: 100%; }

.index #sea {
  width: 40%;
  position: absolute;
  /* left:400px; */
  left: 65%;
  top: 320px;
  display: none; }

.index #hibiscus {
  position: absolute;
  width: 50%;
  top: -30px;
  left: -20%;
  display: none; }

.index #aerial {
  position: absolute;
  width: 50%;
  top: 300px;
  left: -20%;
  display: none; }

.index #yuhi {
  position: absolute;
  width: 50%;
  bottom: 450px;
  right: -10%;
  display: none; }

.index main img {
  width: 100%; }

.index .img-box img {
  margin-top: 100px;
  border-radius: 100%; }

.index footer {
  height: 42px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  /* background: rgba(255,255,255,0.5); */
  background-color: white; }

.index footer p {
  font-size: 20px;
  color: black;
  /* margin-left: 200px; */ }

.index .button a {
  color: black;
  font-size: 60px;
  font-weight: 900; }

.index .cover {
  font-size: 30px; }

.index .outie {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

.index .outie i {
  font-size: 35px;
  margin-right: 10px; }

.index .outie i:last-child {
  margin-right: 0; }

.index article a {
  display: none; }

@media only screen and (max-width: 890px) {
  .index .container-wrapper {
    background-image: url(../../assets/img/notebook-1280538_1920.jpg);
    background-position: -341px 118px; }
  .index .container {
    background: rgba(255, 255, 255, 0.623); }
  .index .fluid-box, .index .fluid-box2, .index .fluid-box3 {
    display: none; }
  .index main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .index .text-box, .index section {
    width: 80%; }
  .index section {
    display: none; }
  .index #message {
    width: 100%; }
  .index .cover {
    display: none; }
  .index article {
    margin-bottom: 100px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
  .index article a {
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border: 6px solid black;
    padding: 10px 40px; }
  .index article .btn-text-3d {
    text-decoration: none;
    font-weight: bold;
    font-size: 37px;
    color: black;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #0f0f0f, 0px 2px 0px #1b1c1f, 0px 3px 0px #212122; }
  .index article .btn-text-3d:active {
    top: 4px;
    text-shadow: none; }
  .index .berger-menu a {
    color: black; }
  .index .berger-menu a:active {
    color: gray; } }

@media only screen and (max-width: 365px) {
  .index .container-wrapper {
    background-image: url(../../assets/img/notebook-1280538_1920.jpg);
    background-position: -745px 40px; }
  .index main .text-box {
    height: 70%; }
  .index main .text-box #message {
    font-size: 12px;
    line-height: 25px; }
  .index article a {
    display: block;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    padding: 10px 40px; }
  .index article .btn-text-3d {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.32), 0px 0.5px 0px #0f0f0f, 0px 2px 0px #1b1c1f, 0px 1.5px 0px #212122; } }

#portfolio {
  /* サイトを始めて開く時 */
  /* サイトを始めて開く時終了 */
  /* ページ */
  /* ページ終了 */ }

#portfolio a {
  color: black; }

#portfolio body {
  background-color: whitesmoke; }

#portfolio header {
  background: rgba(255, 255, 255, 0.2); }

#portfolio .start-p {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  height: 100%;
  width: 100%; }

#portfolio .start-p textarea {
  /* background-color: red; */
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
  font-family: cursive;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 70%;
  border: none;
  resize: none; }

#portfolio section {
  margin-bottom: 100px; }

#portfolio .topic {
  font-size: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 90px; }

#portfolio main {
  padding-top: 50px;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  height: 3500px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
          justify-content: space-between; }

#portfolio .img-box img {
  width: 100%; }

#portfolio .text {
  margin-left: 10px; }

#portfolio .text h5, #portfolio .text p {
  font-size: 20px; }

#portfolio .text p a {
  color: navy;
  border-bottom: 2px solid navy; }

#portfolio .page {
  display: -webkit-box;
  display: flex;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  -webkit-box-pack: center;
          justify-content: center;
  /* height: 100px; */
  /* margin-bottom: 50px; */ }

#portfolio .page li {
  border: 1px solid gray;
  font-size: 30px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 50px; }

#portfolio .page a {
  color: gray; }

/*# sourceMappingURL=style.css.map */
