#about {
    * {
        text-decoration: none;
        font-weight: 900;
    }
    /* サイトを始めて開く時 */
    .start {
        background: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9000;
        height: 100%;
        width: 100%;
    }
    .start textarea {
        /* background-color: red; */
        margin: 0 auto;
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 9999;
        width: 50%;
        border: none;
        resize: none;
    }
    /* サイトを始めて開く時終了 */
    /* プロフィール画面 */
    .container-wrapper1 {
        background-image: url("../img/computer-820281_1920.jpg");
        background-size: cover;
        background-position: bottom;
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
    }
    .container {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.85);
        overflow: hidden;
    }
    .container-wrapper1 h2 {
        font-size: 40px;
        margin: 30px 60px;
        margin-bottom: 10px;
    }
    .container-wrapper1 main {
        display: flex;
        /* flex-direction: row-reverse; */
        width: 80%;
        margin: 0 auto;
        position: relative;
    }
    .left-text {
        font-size: 20px;
        line-height: 20px;
        width: 50%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .left-text p {
        font-size: 15px;
        width: 80%;
        margin-bottom: 50px;
        line-height: 30px;
    }
    .img-box {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        width: 80%;
        /* margin-bottom: 150px; */
    }
    .left-text img {
        /* display: block; */
        border-radius: 100%;
        width: 50%;
        height: 100%;
    }
    .icon-box {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        color: gray;
        margin-top: 10px;
    }
    .icon-box a {
        width: 0;
    }
    .icon-box i {
        margin-right: 25px;
        margin-top: 20px;
    }
    .icon-box p {
        color: gray;
        margin-top: 20px;
        font-size: 25px;
        font-weight: 900;
    }
    .icon-box i {
        color: gray;
    }
    .icon-box i:hover {
        color: black;
    }
    .icon-box p:hover {
        color: black;
    }
    .right-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .right-text h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .right-text dl {
        font-size: 20px;
    }
    .right-text dt {
        margin-top: 40px;
        font-weight: bold;
        float: left;
    }
    .right-text dd {
        margin-top: 40px;
        margin-left: 200px;
    }
    .right-text dd:last-child {
        line-height: 30px;
        font-size: 15px;
    }
    /* プロフィールここまで */
    #circle1 {
        width: 500px;
        height: 500px;
        border-radius: 100%;
        position: absolute;
        background-color: white;
        top: 70%;
        left: -30%;
    }
    #circle2 {
        width: 500px;
        height: 500px;
        border-radius: 100%;
        background-color: #fff;
        position: absolute;
        left: 100%;
        top: -20%;
    }
    @include media(pc) {
        .container {
            overflow: auto;
        }
        .left-text p {
            margin-bottom: 20px;
        }
    }
    @include media(sp) {
        .berger-menu {
            height: 400px;
        }
        .container h2 {
            display: none;
        }
        main {
            flex-direction: column-reverse;
            .left-text,
            .right-text {
                width: 100%;
            }
            .right-text h3 {
                font-size: 35px;
                width: 100%;
                padding-top: 20px;
                text-align: center;
                border-bottom: 6px solid rgb(158, 6, 6);
            }
            .right-text dl {
                font-size: 20px;
            }
            .right-text dt {
                margin-top: 40px;
                font-weight: bold;
                float: left;
            }
            .right-text dd {
                margin-top: 40px;
                margin-left: 200px;
            }
            .right-text dd:last-child {
                line-height: 30px;
                font-size: 13px;
            }
            .left-text h5 {
                font-size: 35px;
                width: 100%;
                margin-top: 60px;
                padding-bottom: 10px;
                text-align: center;
                border-bottom: 6px solid rgb(158, 6, 6);
                margin-bottom: 50px;
            }
        }
    }
    @include media(iphone8) {
        main {
            .right-text {
                dl {
                    font-size: 15px;
                    width: 100%;
                }
                dd {
                    margin-left: 150px;
                }
                dd:last-child {
                    margin-left: 50px;
                    font-size: 10px;
                    line-height: 20px;
                }
            }
            .left-text {
                height: 650px;
                h5 {
                    margin: 0;
                }
                p {
                    font-size: 12px;
                    line-height: 25px;
                }
                .img-box {
                    width: 100%;
                    img {
                        width: 55%;
                        height: 90%;
                    }
                    .icon-box {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    @include media(iphone5) {
        main {
            .right-text {
                dl {
                    dt,
                    dd {
                        font-size: 11px;
                    }
                    dd {
                        margin-left: 100px;
                    }
                }
            }
        }
    }
}