@charset "UTF-8";
* {
    text-decoration: none;
}

header {
    font-weight: 900;
    height: 120px;
    width: 100%;
    background-color: white;
    /* position: absolute; */
    font-family: cursive;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 50px;
    // padding: 20px 50px;
    font-family: cursive;
    font-weight: 800;
}

header .header-left {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

header a {
    color: black;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin: 0 30px;
    font-size: 30px;
}