@charset "UTF-8";

/* サイトを開いた時の処理 */

.index {
    .start {
        background: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9000;
        height: 100%;
        width: 100%;
    }
    .start h1 {
        /* background-color: red; */
        margin: 0 auto;
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 9999;
        width: 100%;
    }
    /* サイトを開いた時の処理終了 */
    main {
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }
    main h1 {
        font-size: 60px;
    }
    .fluid-box {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
    .fluid-box2 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 78%;
        left: 50%;
    }
    .fluid-box3 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -70%;
        left: 50%;
    }
    .text-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        /* position: relative; */
        /* top: -10px; */
        width: 50%;
        height: 100%;
        z-index: 100;
    }
    section {
        margin: 0 auto;
        margin-top: 100px;
        display: block;
        margin-bottom: 40px;
        color: black;
        font-family: cursive;
        background-color: white;
        width: 40%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5%;
    }
    #message {
        margin: 0 auto;
        width: 75%;
        font-size: 17px;
        font-weight: bold;
        line-height: 40px;
        background-color: rgba(253, 253, 253, 0.5);
        border-radius: 40%;
        padding: 80px 0;
    }
    #message a {
        color: green;
    }
    .img-box {
        position: relative;
        width: 40%;
        left: 10%;
        height: 100%;
    }
    #izena {
        width: 45%;
        position: absolute;
        left: 20%;
        top: 100px;
        display: none;
        border-radius: 100%;
    }
    #sea {
        width: 40%;
        position: absolute;
        /* left:400px; */
        left: 65%;
        top: 320px;
        display: none;
    }
    #hibiscus {
        position: absolute;
        width: 50%;
        top: -30px;
        left: -20%;
        display: none;
    }
    #aerial {
        position: absolute;
        width: 50%;
        top: 300px;
        left: -20%;
        display: none;
    }
    #yuhi {
        position: absolute;
        width: 50%;
        bottom: 450px;
        right: -10%;
        display: none;
    }
    main img {
        width: 100%;
    }
    .img-box img {
        margin-top: 100px;
        border-radius: 100%;
    }
    footer {
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background: rgba(255,255,255,0.5); */
        background-color: white;
    }
    footer p {
        font-size: 20px;
        color: black;
        /* margin-left: 200px; */
    }
    /* ボタンの挙動 */
    .button a {
        color: black;
        font-size: 60px;
        font-weight: 900;
    }
    .cover {
        font-size: 30px;
    }
    .outie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .outie i {
        font-size: 35px;
        margin-right: 10px;
    }
    .outie i:last-child {
        margin-right: 0;
    }
    /* ボタンの挙動終了 */
    article a {
        display: none;
    }
    @include media(sp) {
        .container-wrapper {
            background-image: url(../../assets/img/notebook-1280538_1920.jpg);
            background-position: -341px 118px;
        }
        .container {
            background: rgba(255, 255, 255, 0.623);
        }
        .fluid-box,
        .fluid-box2,
        .fluid-box3 {
            display: none;
        }
        main {
            flex-direction: column;
        }
        .text-box,
        section {
            width: 80%;
        }
        section {
            display: none;
        }
        #message {
            width: 100%;
        }
        .cover {
            display: none;
        }
        article {
            margin-bottom: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                display: block;
                font-size: 30px;
                text-decoration: none;
                color: black;
                border: 6px solid black;
                padding: 10px 40px;
            }
            .btn-text-3d {
                text-decoration: none;
                font-weight: bold;
                font-size: 37px;
                color: black;
                text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #0f0f0f, 0px 2px 0px #1b1c1f, 0px 3px 0px #212122;
            }
            .btn-text-3d:active {
                top: 4px;
                text-shadow: none;
            }
        }
    }
    @include media(iphone8) {
        .container-wrapper {
            background-image: url(../../assets/img/notebook-1280538_1920.jpg);
            background-position: -600px 40px;
        }
        main {
            .text-box {
                height: 70%;
                #message {
                    font-size: 12px;
                    line-height: 25px;
                    padding: 50px 0;
                }
            }
        }
        article {
            margin-top: 40px;
            a {
                display: block;
                text-decoration: none;
                color: black;
                border: 3px solid black;
                padding: 10px 40px;
            }
            .btn-text-3d {
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
                color: black;
                text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.32), 0px .5px 0px #0f0f0f, 0px 2px 0px #1b1c1f, 0px 1.5px 0px #212122;
            }
        }
    }
    @include media(iphone5) {
        .container-wrapper {
            background-position: -510px 40px;
        }
    }
}