@charset "UTF-8";
#portfolio {
    a {
        color: black;
    }
    body {
        background-color: whitesmoke;
    }
    header {
        background: rgba(255, 255, 255, 0.2);
    }
    /* サイトを始めて開く時 */
    .start-p {
        background: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9000;
        height: 100%;
        width: 100%;
    }
    .start-p textarea {
        /* background-color: red; */
        margin: 0 auto;
        text-align: center;
        font-size: 80px;
        font-family: cursive;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 9999;
        width: 70%;
        border: none;
        resize: none;
    }
    /* サイトを始めて開く時終了 */
    section {
        margin-bottom: 100px;
    }
    .topic {
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        // margin-bottom: 50px;
    }
    main {
        padding-top: 50px;
        width: 70%;
        margin: 0 auto;
        background-color: white;
        height: 3500px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .img-box img {
        width: 100%;
    }
    .text {
        margin-left: 10px;
    }
    .text h5,
    .text p {
        font-size: 20px;
    }
    .text p a {
        color: navy;
        border-bottom: 2px solid navy;
    }
    /* ページ */
    .page {
        display: flex;
        width: 70%;
        margin: 0 auto;
        background-color: white;
        justify-content: center;
        /* height: 100px; */
        /* margin-bottom: 50px; */
    }
    .page li {
        border: 1px solid gray;
        font-size: 30px;
        padding: 5px;
        margin-right: 20px;
        margin-bottom: 50px;
    }
    .page a {
        color: gray;
    }
    /* ページ終了 */
}