@charset "UTF-8";
#portfolio_2020_06 {
    .topic {
        font-size: 40px;
        font-weight: 900;
        font-family: serif;
        text-align: center;
        margin: 50px;
    }
    #app {
        display: flex;
        flex-wrap: wrap;
        border: solid 2px whitesmoke;
        .article {
            width: 25%;
            height: 445px;
            margin: 35px;
            padding: 15px;
            border: solid 2px rgb(163, 163, 163);
            font-family: serif;
            .img-box {
                img {
                    width: 100%;
                }
            }
            .theme-text {
                color: black;
                font-size: 20px;
            }
            .language-text {
                height: 33px;
            }
            .main-text {
                height: 100px;
            }
            .btn-wrapper {
                width: 70%;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    background-color: white;
}

.btn-flat-border:hover {
    background: #67c5ff;
    color: white;
}

.github-btn-color {
    background: gray;
}